<ion-view>
	<ion-content>
	<div class="h">
		<a href="index.html" class="dd"></a>
		<p>个人中心</p>
		<div class="top">
    		<ul>
    			<li><a href="login.html">登录</a></li>
    			<li><a href="login.html">注册</a></li>
    		</ul>
    </div>
	</div>
  
    <div class="dh">
    	<span><a href="">我的订单</a></span>
    	<span><a href="">查看全部&gt</a></span>
    </div>
    <div class="row l">
    	<div class="col lis">
    		<p class="ta1"></p>
    		<p>待付款</p>
    	</div>
    	<div class="col lis">
    		<p class="ta2"></p>
    		<p>待发货</p>
    	</div>
    	<div class="col lis">
    		<p class="ta3"></p>
    		<p>待收货</p>
    	</div>
    	<div class="col lis">
    		<p class="ta4"></p>
    		<p>待评价</p>
    	</div>
    	<div class="col lis">
    		<p class="ta5"></p>
    		<p>退款	/售后</p>
    	</div>
    </div>
    <div class="list">

		  <div class="hh"></div>	
			  <a class="item" href="#">购物车</a>  
			  <a class="item" href="#">优惠卷</a>
		  <div class="hh"></div>	
			  <a class="item" href="#">收藏夹</a>  
			  <a class="item" href="#">足迹</a>
			<div class="hh"></div>	
			  <a class="item" href="#">帮助与客服</a>  
			  <a class="item" href="#">下载折800APP</a>  
		</div>
  </ion-content>
</ion-view>
