
<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="今日特卖" icon="icon t1" href="#/tab/tm">
    <ion-nav-view name="tab-tm"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="淘特价" icon="icon t2" href="#/tab/ttj">
    <ion-nav-view name="tab-ttj"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="拼团"  icon="icon t3" href="#/tab/pt">
    <ion-nav-view name="tab-pt"></ion-nav-view>
  </ion-tab>

	<ion-tab title="购物车"  icon="icon t4" href="#/tab/gwc">
	    <ion-nav-view name="tab-gwc"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="我的"  icon="icon t5" href="#/tab/my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>

</ion-tabs>
